@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    overflow-x: hidden;
}

#logo {
    width: 250px;
    height: auto;
}

@media (max-width: 768px) {
    #logo {
        width: 150px;
        height: auto;
    }
}


.store-btn, .btn {
    background-color: #1E1C1A;
    color: #fff;
    border: none;
    transition: .3s;
}

.store-btn:hover, .btn:hover {
    background-color: #446D31;
    transition: .3s;
}

.gradient {
    background-image: linear-gradient(90deg, rgba(116, 184, 85, 0.79) 0%, #FFFB9A 100%);
}

.slider-gradient {
    background: linear-gradient(90deg, rgba(116, 184, 85, 0.05) 0%, rgba(116, 184, 85, 0.1) 20%, rgba(116, 184, 85, 0.2) 40%, rgba(116, 184, 85, 0.5) 100%);
}

.vert-gradient {
    background: linear-gradient(180deg, rgba(116, 184, 85, 0.79) 0%, rgba(116, 184, 85, 0) 100%);
}

.menu a {
    @apply pb-2;
}

.phone{
    perspective: 1000px;
	transform-style: preserve-3d;
}

#phone-img-container{
    transition: .1s;
}